.v-card {
  backdrop-filter: blur(5px);
  border-radius: 5%;
  color: #FFFFFF;
}

.vapp-fullscreen-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.vapp-fullscreen-background .floating-switch-container {
  position: fixed;
  right: -28px;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  z-index: 999;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0.9;
}

.vapp-fullscreen-background .floating-switch-container:hover {
  right: 10px;
  opacity: 1;
}

.vapp-fullscreen-background .floating-switch {
  opacity: 0.9;
}



/* 调整视频元素的样式，使其全屏作为背景 */
.vapp-fullscreen-background .video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -100;
  /* 居中 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  background-clip: padding-box;
  filter: brightness(85%);
}

.vapp-fullscreen-background .loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vapp-fullscreen-background .fade-enter-active,
.vapp-fullscreen-background .fade-leave-active {
  transition: opacity .8s
}

.vapp-fullscreen-background .fade-enter,
.vapp-fullscreen-background .fade-leave-to {
  opacity: 0
}

.vapp-fullscreen-background .bamboo1-left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.vapp-fullscreen-background .welcome-title {
  margin-top: 20px;
  width: 100%;
  color: #FFFFFF;
  padding: 0 2rem;
  font-family: "myfont";
}

.vapp-fullscreen-background .Animated-Avatar-Player .musicplayer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.vapp-fullscreen-background .Animated-Avatar-Player .musicplayer-text {
  position: absolute;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.vapp-fullscreen-background .Animated-Avatar-Player .bamboo1-spin {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.vapp-fullscreen-background .Animated-Avatar-Player .fade-in {
  animation: fadeIn .6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* 添加一个::before伪元素降低背景图片的亮度，而不会影响background元素的其他内容 */
.vapp-fullscreen-background::before {
  content: "";
  background-image: var(--bamboo1-background-image-url);
  transition: background-image 0.8s ease;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* 调整亮度值  */
  filter: brightness(85%);
}