@media (max-width: 960px) {
  .Animated-Avatar-Player .musicplayer-text {
    font-size: 10px !important;
  }

  .socialIconsContainer .setting {
    transform: scale(0.8);
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 99999;
  }



  /* 确保时间卡片在移动端有合适的边距 */
  .v-card {
    margin-bottom: 1rem !important;
  }
}